<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h2>Welcome sur mon super site de gossip :)</h2>

    <p>Pour créer un nouveau potin ça passe <a href="/gossips/new/">ici</a> <br/><br/>
    Xoxo
    </p>
    </body>
 
</html>